<% include ../shared/up.html.ejs %>
<tr>
    <td class="content-block">
        <%= requesterName %> has cancelled request to rent your <strong><%= listingTitle %></strong>, from <%= datetimeFrom %> to <%= datetimeTo %>.
    </td>
</tr>
<tr>
    <td class="content-block">
        <a href="<%= link %>" class="btn-primary">See Reservation Details</a>
    </td>
</tr>
<% include ../shared/down.html.ejs %>
